<!DOCTYPE html>
<html>
  <head>
    <title>
      RequireJS+JSX Example
    </title>
    <style>
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }

      a {
        color: #00B7FF;
      }
    </style>
  </head>
  <body>
    <div id="application"></div>

    <!-- Application dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
